.page-header .container {
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  display: flex;
  align-items: center;
}
.header-portfolio .container {
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
  }
}
.header-portfolio {
  height: 80px;
  border-bottom: 1px solid #ececec;
}
