.portfolio {
  padding-top: 0;
  padding-bottom: 0;

  @media screen and (min-width: $mobile) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: $tablet) {
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 34px;
    margin-bottom: 94px;
  }
}

.portfolio-item {
  border: 1px solid #eeeeee;
  @media screen and (min-width: $tablet) {
    width: calc((100% - 1 * 30px) / 2);
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 2 * 30px) / 3);
    justify-content: space-between;
  }
}
.portfolio-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  &__text {
    position: absolute;
    @extend %flex;
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 63px 24px;
    color: var(--primary-bg-color);
    border: none;
    background-color: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
}
.portfolio-item__link:hover .portfolio-wrapper__text,
.portfolio-item__link:focus .portfolio-wrapper__text {
  transform: translateY(0);
}

.portfolio-box {
  padding: 20px;
  color: inherit;
  &__project {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: calc(36 / 18);
    color: var(--title-text-color);
    color: inherit;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--title-list-text-color);
  }
}
