:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-bg-color: #ffffff;
  --title-list-text-color: #757575;
  --secondary-ff: 'Raleway', sans-serif;
  --primary-ff: 'Roboto', sans-serif;
  --footer-bg-color: #2f303a;
  --logo-link: #000000;
  --bg-portf-color: #f5f5f5;

  /*  Grid  */
  --items: 4;
  --indent: 30px;
}
